* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #b50bb2;
  --secondary-color: #c86515;
  --third-color: #71128b;
  --button-color: #1da1f2;
}
[data-theme="dark"] {
  --primary-color: #000;
  --secondary-color: #1da1f2;
  --third-color: #fff;
}
.btn {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  padding: 20px;
  margin: 20px;
}

h1 {
  color: var(--primary-color);
}

a{
  color: var(--secondary-color);
}

p {
  color: var(--third-color);
}
